html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    background-image: repeating-linear-gradient(
        45deg,
        #0b1f43 0,
        #0b1f43 2px,  
        #000000 0,
        #000000 10px  
        
        );
        
    min-height: 100vh;
    padding: 0px ;
    }
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      
      }
      
      .navbar {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: rgb(0,0,0);
        gap:  40px ;
        border-bottom:2px solid #416DD1;
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
.footer{
    background-color: rgb(0,0,0);
    gap:  40px ;
    border-top:2px solid #416DD1;
    padding: 20px;
    color: #fff; 
    margin-top: 20px;
}
@media (min-width: 640px) { 
     .navbar {
        gap: 123px;
    }
}
.link-style{
    text-decoration: none;
    color: white;
}
.skills-button-style {
    background-color: #FCC757;
    font-size: 14px;
    border-radius: 40px;
    text-transform: capitalize;
    color: #fff;
    margin-left: 21px;
  }
  
.bg-opacity-70{
    background-color: rgba(255, 255, 255, 0.7)
}
.bg-slate-900{
    background-color: rgb(30 41 59);
}
.title-box{
    border-bottom:2px solid #416DD1;
    margin-bottom: 12px;
    
}
.title{
    color:white;
}

.skills-box{
    gap: 30px;
    min-height: 100px;
    padding: 20px ;
    border-radius:10px; 
}
.skill-box:hover{
    transform: scale(1.05);
}
.projectCard{
    border-radius: 20px;
    padding:30px;
    min-height: 400px;
    min-width:400px;
    background-color: #0b1f43;
    transition:  0.3s ease-in-out
}
.projectCard-item{
    transition:  0.3s ease-in-out
}
.projectCard-item:hover {
    transform: scale(1.25);
}
.projectCard:hover {
    transform: scale(1.05);
}
.screen-project-image{
    height: 200px;
    width: 400px;
}
.about-me-box{
    padding: 20px ;
    border-radius:10px;
}
.about-me-image{
    border-radius: 20px;
    border:2px solid #416DD1;

}
.certifCard{
    border-radius: 20px;
    padding:30px;
    min-height: 400px;
    min-width:400px;
    background-color: #0b1f43;
    transition:  0.3s ease-in-out
}
.certifCard-img{
    height: 300px;
    width: 400px;
}
.certifCard-img:hover{
    transform: scale(1.25);
}