html {
  scroll-behavior: smooth;
  
}
body {
    font-family: 'Open Sans';
    background-image: repeating-linear-gradient(
        45deg,
        #0b1f43 0,
        #0b1f43 2px,  
        #000000 0,
        #000000 10px  
        
        );
        min-height: 100vh;
}
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      
      }
      ::-webkit-scrollbar {
        width: 0px;
      }
      
      .navbar {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: rgb(0,0,0);
        gap:  40px ;
        border-bottom:2px solid #416DD1;
        padding: 20px;
        margin-bottom: 20px;
        height: 60px !important;
        width: 100% !important;
        }
        .box-projet-speech{
          width:50vw;
        }      
.footer{
    background-color: rgb(0,0,0);
    gap:  40px ;
    border-top:2px solid #416DD1;
    padding: 20px;
    color: #fff; 
    margin-top: 20px;
}
@media (max-width: 576px) { 
     .navbar {
        gap: 123px;
    }
    .section-box2{
      max-height: 100vh;
       width: auto;
    }   
    .box-projet-speech{
      width: 80vw;
    }
}

.link-style{
    text-decoration: none;
    color: white;
}
.link-style:hover{
  color: #4070F4;
}
.skills-button-style {
    background-color: #FCC757;
    font-size: 14px;
    border-radius: 40px;
    text-transform: capitalize;
    color: #fff;
    margin-left: 21px;
  }
  
.bg-opacity-70{
    background-color: rgba(255, 255, 255, 0.7)
}
.bg-slate-900{
    background-color: rgb(30 41 59);
}
.title-box{
    margin-bottom: 12px;
    border-bottom:10px solid #416DD1;
}

.section-box{
   min-height: 500px;
    width: auto;
}

.section-box2{
  max-height: 500px;
   width: auto;
}
.title{
    color:white;
}


.skills-box{
    gap: 30px;
    min-height: 100px;
    padding: 20px ;
    border-radius:10px; 
}

.MuiButton-root.button-tag{
    background-color: yellow;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}
.MuiButton-root.button-tag:hover{
    background-color: yellow;
    color: black;
}
.projectCard{
    border-radius: 20px;
    padding:30px;
    width: auto;
    background-color: #0b1f43;
    transition:  0.3s ease-in-out
}
.white-link {
  color: white;
}

.projectDescription{
    border-radius: 20px;
    padding:30px;
    margin-left: 20px;
    background-color: rgb(30 41 59);
    transition:  0.3s ease-in-out
}
.skill-item{
    border-radius:10px; 
}
.projectCard-item{
    transition:  0.3s ease-in-out
}
.projectCard-item:hover {
    transform: scale(1.25);
}
/* .projectCard:hover {
    transform: scale(1.05);
} */
.screen-project-image {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 992px) { 
    .screen-project-image  {
      width: 400px;
      height: 200px;
    }
    .certifCard-img {
        width: 400px;
        height: 200px;
      }
      .certifCard{
        width: 335px!important;
        height: auto;
    }
  }
  

.about-me-box{
    padding: 20px ;
    border-radius:10px;
}
.about-me-image{
    border-radius: 20px;
    border:2px solid #416DD1;

}
.certifCard{
    border-radius: 20px;
    padding:30px;
    width: auto;
    background-color: #0b1f43;
    transition:  0.3s ease-in-out
}
.certifCard-img{
    width: 100%;
    height: auto;
}
.certifCard-img:hover{
    transform: scale(1.25);
}

.interest-box:hover{
    transform: scale(1.25);
}


  .text {
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
  }
  
  .first-text {
    color: #FFF;
  }
  
  .sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(30 41 59);
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
  }
  
  
  .skill-item {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .skill-item.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  @keyframes animate {
    40%, 60% {
      left: calc(100% + 4px);
    }
    100% {
      left: 0%;
    }
  }
  
  